.header{
    text-align: center;
}

.header h1{
    color: #E74295;
    font-weight: 700;
}
.header h2{
   font-weight: 700;
   color: #8142EE;

}

.header h3{
    color: #0b9671;
    font-size:25px;
    margin-bottom: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 15px;
}