.header{
    text-align: center;
  
  

}

.header h5{
    color: #E74295;
}
.header h1{
   font-weight: 700;
   color: #8142EE;

}

.header h4{
   color: #C33E3E;
}
.header h3{
    color: #0b9671;
    font-size:25px;
    margin-bottom: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 15px;
}